@use '@scss/global/functions' as *;
@use '@scss/global/mixins' as m;

@media (width > em(768)) {

    .hero {
        flex-direction: row;

        &__decor {
            display: block;
            inline-size: fluid(0, 350, 768, 1200, rem);
            block-size: rem(700)
        }

        &__img {
            inline-size: rem(437);
            block-size: rem(700);
        }

        &__content {
            padding-inline: 0;
            margin-inline-start: -54px;
        }

        &__title {
            font-size: var(--fs-home-h1-desk);
        }

        &__text-group {
            row-gap: fluid(48, 64, 768, 1440);
        }
    }

    .gallery {
        display: grid;
        place-items: center;

        &__grid {
            grid-template-rows: rem(400) rem(313) rem(396);
            grid-template-columns: rem(280) rem(107) rem(280);
            grid-template-areas: 
                "day interior interior"
                "bench bench hall"
                "bench bench come";
            gap: rem(11);
        }

        &__content--day {
            margin-block-end: 0;
        }

        &__content-title--day {
            max-inline-size: 11ch;
        }

        &__content-desc--day {
            padding-inline-end: 0;
            max-inline-size: 19ch;
        }

        &__picture--interior {
            margin-block-end: 0;
        }

        &__img--interior {
            inline-size: rem(398);
            block-size: rem(400);
        }

        &__img--bench {
            inline-size: rem(398);
            block-size: rem(720);
        }

        &__img--hall {
            inline-size: rem(280);
            block-size: rem(313);
        }
    }

    .footer {
        padding-block: fluid(56, 80, 768, 1440);
        padding-inline: fluid(40, 165, 768, 1440);

        &__content-wrapper {
            flex-direction: row;
            column-gap: fluid(133, 280, 768, 1440);
        }

        &__content {
            flex-direction: row;
            column-gap: fluid(65, 140, 768, 1440);
        }

        &__logo-img {
            inline-size: fluid(110, 159.57, 768, 1440, rem);
            block-size: fluid(40, 58, 768, 1440, rem);
        }

        &__desc {
            max-inline-size: 27ch;
        }
    }
}

@media (width > em(1200)) {

    h2 {
        line-height: var(--lh-h2-desk);
    }

    .hero {
        position: relative;

        &__decor {
            inline-size: fluid(350, 450, 1200, 1440, rem);
            block-size: rem(800);
        }

        &__img {
            inline-size: rem(540);
            block-size: rem(800);
        }

        &__content {
            flex-direction: row;
            column-gap: 273px;
            position: absolute;
            inset-block-start: 190px;
            inset-inline-start: fluid(130, 202, 1200, 1440);
        }

        &__title {
            color: transparent;
            background-image: var(--clr-h1-grad);
            background-clip: text;
        }

        &__desc {
            max-inline-size: 24ch;
        }
    }

    .gallery {

        &__grid {
            grid-template-rows: rem(400) rem(313) rem(377);
            grid-template-columns: rem(445) rem(160) rem(445);
            gap: 30px;
        }

        &__content--day {
            row-gap: 32px;
            justify-self: flex-start;
            margin-block-start: 60px;
        }

        &__content-title--day {
            display: block;
        }

        &__content-desc--day {
            max-inline-size: 22ch;
        }

        &__img--interior {
            inline-size: rem(635);
            block-size: rem(400);
        }

        &__img--bench {
            inline-size: rem(635);
            block-size: rem(720);
        }

        &__img--hall {
            inline-size: rem(445);
            block-size: rem(313);
        }

        &__content--come {
            padding-inline: 48px;
            padding-block: 65px;
        }

        &__content-inner {
            row-gap: 32px;
        }
    }
}