@use '@scss/global/functions' as *;

.location-page {
    display: grid;
    place-items: center;

    &__wrapper {
        display: flex;
        flex-direction: column;
    }
}

.location {
    display: flex;
    flex-direction: column;

    &__details {
        display: grid;
        place-items: center;
    }

    &__content {
        display: flex;
        flex-direction: column;
        row-gap: 48px;
    }

    &__info {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
    }

    &__address {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
    }
}