html {
    font-size: 100%;
    scroll-behavior: smooth;
}

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--ff-secondary);
    font-size: var(--fs-body);
    font-weight: var(--fw-1);
    line-height: var(--lh-body);
    color: var(--clr-secondary);
}

h1, h2 {
    font-family: var(--ff-primary);
    font-weight: var(--fw-2);
    line-height: var(--lh-h1-h2);
    color: var(--clr-dark);
    text-transform: uppercase;
}

p, li, figcaption {
    text-wrap: pretty;
}

img, picture, video, canvas, svg {
    display: block;
    max-inline-size: 100%;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

a, a:visited, a:active {
    text-decoration: none;
}

ul {
    list-style: none;
}