:root {
    --clr-primary: hsl(24, 56%, 63%);
    --clr-secondary: hsl(0, 0%, 27%);
    --clr-dark: hsl(0, 0%, 8%);
    --clr-light: hsl(0, 0%, 100%);
    --clr-map-circle: hsla(24, 56%, 63%, 0.6);
    --clr-map-fill: hsla(24, 56%, 63%, 0.1);
}