@use '@scss/global/functions' as *;
@use '@scss/global/mixins' as m;

.location-page {

    .footer {
        background-color: var(--clr-primary);

        &__desc {
            color: var(--clr-dark)
        }

        &__social-link {
            color: var(--clr-dark);

            &:hover, &:focus-visible {
                color: var(--clr-light);
            }
        }

        &__attribution {
            color: var(--clr-dark);
        }

        &__attribution-link {
            color: var(--clr-dark);

            &:hover,
            &:focus-visible {
                color: var(--clr-light);
            }

            &:focus-visible {
                outline: rem(3) solid var(--clr-light);
                outline-offset: rem(3);
            }
        }
    }
}